/* PAGE */

.app {
  max-width: 480px;
  margin: 0 auto;
  background: #f5f5f5;
  min-height: 100vh;
  padding-bottom: 40px;
  font-family: Arial, sans-serif;
}

.title-header {
  text-align: center;
  font-size: 26px;
  padding: 10px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* FEED */
.feed {
  padding-bottom: 40px;
}

/* POST */
.post {
  background: white;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

/* POST HEADER */
.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ccc;
}

.username {
  font-weight: 600;
  font-size: 14px;
}

/* POST IMAGE */
.post-img {
  width: 100%;
  height: auto;
}

/* FOOTER */
.post-footer {
  padding: 10px;
}

.caption {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}
